/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h5 {
  font-size: 2.8;
}
a {
  color: white;
  text-decoration: none;
}

button {
  border: none;
  background: white;
  color: #f8580e;
  padding: 2rem 6rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
button:hover {
  background: #f8580e;
  color: white;
}

/* Nav Section with Hero */
.main-head {
  background-color: #309285;
  color: white;
  font-size: 1.8rem;
}
nav {
  display: flex;
  /* adding the margin */
  width: 90%;
  margin: auto;
  /* padding and min-height make it more responsive when changing sizes */
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  /* mobile friendly */
  flex-wrap: wrap;
}
nav ul {
  /* this separates the list elements into different containers */
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex: 1 1 40rem;
}
#logo {
  flex: 1 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

.hero {
  /* the height will make it bigger */
  min-height: 90vh;
  background: linear-gradient(rgba(51, 155, 141, 0.3), transparent),
    url("./img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 3rem;
}

/* LOCATIONS SECTION */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(10, 34, 78, 0.5), transparent),
    url("./img/new-york-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-head {
  width: 90%;
  margin: auto;
}
.locations-head h3 {
  padding: 1rem 0rem;
  color: #f8580e;
  opacity: 0.5;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 70%;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate;
}
.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 3.5s infinite alternate;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Media Query */
@media screen and (max-width: 932) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
    padding: 1rem;
  }
} ;
